* {
    font-family: 'Roboto','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    height: 72px;
}

#logo, a {
    color: #eee;
    text-decoration: none;
}

#logo {
    font-weight: 700;
    font-size: 18px;
}

ul {
    display: flex;
    gap: 24px;
}

li {
    list-style-type: none;
}

.intro {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #1F2937;
    color: #eee;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 350px;
}

button {
    max-width: 96px;
    max-height: 30px;
    background-color: #3882F6;
    color: #eee;
    font-weight: 700;
    padding: 5px;
    border: none;
    border-radius: 7px;
    
}

#welcome {
    margin: 0;
}

img {
    width: 400px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 50px;
}

.fakeimg, .text {
    display: flex;
    gap: 30px;
    text-align: center;
}

.text {
    max-width: 710px;
}

#img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 15px;
    flex-shrink: 0;
}

.quote {
    background-color: #E5E7EB;
}

#quote {
    font-size: 30px;
    font-style:italic;
    padding-right: 15%;
    padding-left: 15%;
    font-weight: lighter;
}

#author {
    
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}

.final {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.container {
    background-color: #3882F6;
    border-radius: 7px;
    display: flex;
    padding: 30px 50px;
    color: #eee;
    justify-content: space-between;
    align-items: center;
}

.text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button2 {
    border: 2px solid #eee;
    width: 96px;
}

h3 {
    padding: 0;
    margin: 0;
}

#finaltext {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #1F2937;
    color: #eee;
    display: flex;
    justify-content: center;
    padding: 15px;
}